__pycache__/
.idea/
examples/
*.csv
*.*.gp
*.dat
*.pdf
*.png
*.json
*.UPF
*.out*
*.err*
*.sh*
*.xml*
*log.*
*.update*
*.in*
*.scf*
*.opt*
*.dyn*
CRASH
*.cif
*.ph*
*a2F*
CONTCAR
*elph*
POSCAR
*.gp
*.csv
